<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_enterBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,959},{248,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,216}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>login_flyFruit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,703},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>login_flyFruit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1211},{165,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,131}}</string>
                <key>sourceSize</key>
                <string>{165,131}</string>
            </dict>
            <key>login_flyFruit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,856},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>login_fruitCut1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1346},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>login_fruitCut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,543},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
            <key>login_role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{714,538}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,80},{714,538}}</string>
                <key>sourceSize</key>
                <string>{720,618}</string>
            </dict>
            <key>login_role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,959},{485,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,460}}</string>
                <key>sourceSize</key>
                <string>{485,460}</string>
            </dict>
            <key>login_role3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,543},{412,637}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,637}}</string>
                <key>sourceSize</key>
                <string>{412,637}</string>
            </dict>
            <key>login_role4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1466},{367,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,397}}</string>
                <key>sourceSize</key>
                <string>{367,397}</string>
            </dict>
            <key>login_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,808},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>login_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,756},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>login_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1423},{536,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,319}}</string>
                <key>sourceSize</key>
                <string>{536,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login_0.png</string>
            <key>size</key>
            <string>{716,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00000000000000000000000000000000:1/1$</string> 
            <key>textureFileName</key>
            <string>login_0.png</string>
        </dict>
    </dict>
</plist>
